<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
</head>
<style>
body { 
  background: url("http://68.media.tumblr.com/tumblr_m0j8g2LLh51ql8jlyo6_r1_1280.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>
<body>
<div ng-controller="UserController as ctrl" style="margin-top:100px">
 <form name="form" ng-submit="ctrl.login()" role="myForm"  class="form-horizontal">


<!-- Form Name -->
<h4 style="text-align:center">Login</h4>

<!-- Text input-->
<div class="form-group" ng-class="{ 'has-error': form.userid.$dirty && form.userid.$error.required }">
  <label class="col-md-4 control-label" for="username">UserId</label>  
  <div class="col-md-4">
  <input type="text" name="userid" id="userid" class="form-control" ng-model="ctrl.Userdetails.userid" required />
            <span ng-show="form.userid.$dirty && form.userid.$error.required" class="help-block">User Id is required</span>    
  </div>
</div>

<!-- Password input-->
<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
   <input type="password" name="password" id="password" class="form-control" ng-model="ctrl.Userdetails.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" type="submit" ng-disabled="form.$invalid || ctrl.dataLoading" class="btn btn-success btn-sm">Login</button>
  </div>
</div>


</form>

  <p style="text-align:center">Not Registred? <a href="#/register">Register here</a></p>
  </div>
        


</body>
</html>