<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>register page</title>
</head>
<style>
/* body { 
  background: url("http://68.media.tumblr.com/tumblr_m0j8g2LLh51ql8jlyo6_r1_1280.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

</style>
<body>

<body>
	<div class="generic-container" ng-controller="UserController as ctrl">
<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
    

        <!-- Form Name -->
        <h2 style="text-align:center">Register page</h2>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Register as....</label>  
          <div class="col-md-4">
         <div class="container">
							<div class="radio">
								<label class="radio-inline"> <input type="radio" id="Role"
									name="Role" value="student" ng-model="ctrl.Userdetails.Role">
									Student
								</label> <label class="radio-inline"> <input type="radio" id="Role"
									name="Role" value="alumni" ng-model="ctrl.Userdetails.Role">
									Alumni
								</label> <label class="radio-inline"> <input type="radio" id="Role"
									name="Role" value="employee" ng-model="ctrl.Userdetails.Role">
									Employee
								</label>
							</div>
          </div>
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="userid">Id</label>  
          <div class="col-md-4">
         <input type="text" ng-model="ctrl.Userdetails.userid" id="userid" class="userid form-control input-sm"
										placeholder="Enter your ID" required ng-minlength="3" />
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="username">Name</label>  
          <div class="col-md-4">
         <input type="text" ng-model="ctrl.Userdetails.username" id="username"
										class="username form-control input-sm"
										placeholder="Enter your name" required ng-minlength="3" />
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password">Password </label>
          <div class="col-md-4">
            <input type="password" ng-model="ctrl.Userdetails.password"
										id="password" class="username form-control input-sm"
										placeholder="Enter your password" required ng-minlength="3" />
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email</label>
          <div class="col-md-4">
           <input type="email" ng-model="ctrl.Userdetails.email" id="email"
										class="email form-control input-sm"
										placeholder="Enter your Email" required />
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="contact">mobile</label>  
          <div class="col-md-4">
          <input type="tel" ng-model="ctrl.Userdetails.contact" id="contact"
										class="mobile form-control input-sm"
										placeholder="Enter your contact number" required />
    
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="address">Address</label>  
          <div class="col-md-4">
          <input type="text" width="100" height="50"
										ng-model="ctrl.Userdetails.address" id="address"
										class="form-control input-sm"
										placeholder="Enter your Address." />
    
          </div>
        </div>

       
        <!-- Button (Double) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="save"></label>
          <div class="col-md-8">
            <button id="save" type="submit" name="save" class="btn btn-success">Save</button>
            <button  ng-click="ctrl.reset()" class="btn btn-warning btn-sm">reset</button>
          </div>
        </div>

      
        </form>
</div>
	
</body>
</html>